ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 1px solid rgba(39, 38, 38, 0.678);
    border-radius: 15px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50vw;
    height: 60px;
    border-top: solid 1px rgba(80, 80, 80, 0.219);
    font-size: 18px;
}
.checkbox {
    width: 30px;
    height: 30px;
    margin: 0px 15px 0px 15px;
    border-radius: 50%;
    border: 1px solid rgba(39, 38, 38, 0.678);;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.deleteTask {
    width: 30px;
    height: 30px;
    margin: 0px 15px 0px 15px;
    border: 0px;
    font-size: 24px; 
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
}
.taskUncheck {
    background-color: rgb(255, 255, 255);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0;
}
.taskCheck {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.taskDone{
    text-decoration:line-through;
}
.ulLight {
background-color: hsl(0, 0%, 98%);;
}
.ulDark {
background-color: hsl(235, 24%, 19%);
}

@media (max-width: 1280px) {

li {
    width: 80vw;
}}