@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}


#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 100vw;
  height: 100%;
}
